* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
.header {
  top: 0;
  left: 0;
  padding: 20px 10%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 45px;
  color: cyan;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: cyan;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}
.home-content p {
  font-size: 20px;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: cyan;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: cyan;
  color: #081b29;
  box-shadow: 0 0 20px cyan;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: cyan;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 40px;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.about {
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  background: black;
}
.about-text h2 {
  font-size: 60px;
  text-align: center;
}
.about-text h2 span {
  color: cyan;
  text-align: center;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
  text-align: center;
}
.about-text p {
  margin-left: 10%;
  margin-right: 10%;

  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  align-items: center;
  text-align: center;
}
.project-container {
  background: black;
  padding: 50px 0;
  text-align: center;
}
.projectbox-container {
  margin-top: 50px;
}
.project-container h2 {
  font-size: 60px;
  text-align: center;
}
.project-container h2 span {
  color: cyan;
  text-align: center;
}
.projectbox-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.project-box {
  border-radius: 20px;
  height: 450px;
  width: 22%;
  background: #081b29;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 30px cyan, 0 0 0px cyan,
    0 0 50px cyan;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
}
.project-box img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.5s;
}

.project-box h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.project-box p {
  font-size: 18px;
}

.project-box a {
  display: inline-block;
  padding: 10px 20px;
  background: cyan;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  border-radius: 40px;
  margin-top: 15px;
}
.project-layer a:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.contact-container {
  background: black;
  text-align: center;
  padding: 50px 0;
}
.contact-container h2 {
  font-size: 60px;
  text-align: center;
}
.contact-container h2 span {
  color: cyan;
  text-align: center;
}
.mail,
.phone {
  font-size: 25px;
  margin: 20px 0;
}
.mail label,
.phone label {
  color: aliceblue;
}
